.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
}
.logo{
   
    height: 80px;
}
.container2{
    display: block;
    margin: 0 auto;
    height: 800px; 
    
}
.links{
  
    text-align: right;
}
.video{
    display: block;
    margin: 0 auto;
    height: 650px; 
}
.div1{
    display: flex;
    flex-direction: column;
}
.game{
     display: block;
    margin: 0 auto;
    height: 200px; 
    
}
.game1{
     display: block;
    margin: 0 auto;
    height: 300px; 
    
}
.galeria{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    margin-left: 15%;
    
}
.seção img {
    width:420px ;

}